body {
    font-family: Arial, sans-serif;
    background-color: #e6e6e6;
    color: #333;
}

h1 {
    text-align: center;
    color: #006600; /* Verde da bandeira do Brasil */
}

h2 {
    color: #ffcc00; /* Amarelo da bandeira do Brasil */
}

.container {
    margin: 20px auto;
    width: 80%;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#search-container {
    text-align: center;
    margin: 20px;
}

#search-input {
    padding: 10px;
    width: 80%;
    font-size: 16px;
}

#dropdown {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    max-height: 200px;
    overflow-y: auto;
    width: calc(80% - 22px);
    left: 10%;
    display: none;
    z-index: 1;
}

.dropdown-item {
    padding: 10px;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #f2f2f2;
}

.hidden {
    display: none;
}

#back-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #006600;
    color: #fff;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#back-button:hover {
    background-color: #004d00;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.pagination {
    text-align: center;
    margin: 20px 0;
}

.pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    background-color: #fff;
    cursor: pointer;
}

.pagination button.active {
    background-color: #006600;
    color: #fff;
}

.pagination button:hover {
    background-color: #ddd;
}

.sortable {
    cursor: pointer;
}

.sortable:after {
    content: ' ▲';  /* Código Unicode para seta para cima */
}

.sortable[data-sort-asc='false']:after {
    content: ' ▼';  /* Código Unicode para seta para baixo */
}
