/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #e6e6e6;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #006600; /* Verde da bandeira do Brasil */
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 24px;
}

h1 {
    margin: 0;
    color: white; /* Mantendo o título do header em branco */
}

nav {
    background-color: #004d00; /* Um tom mais escuro de verde */
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

nav ul li a:hover {
    text-decoration: underline;
}

.container {
    margin: 20px auto;
    width: 80%;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#search-container {
    text-align: center;
    margin: 20px;
}

#search-input {
    padding: 10px;
    width: 80%;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#dropdown {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    max-height: 200px;
    overflow-y: auto;
    width: calc(80% - 22px);
    left: 10%;
    display: none;
    z-index: 1;
}

.dropdown-item {
    padding: 10px;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #f2f2f2;
}

.hidden {
    display: none;
}

#back-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #006600;
    color: #fff;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#back-button:hover {
    background-color: #004d00;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.pagination {
    text-align: center;
    margin: 20px 0;
}

.pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    background-color: #fff;
    cursor: pointer;
}

.pagination button.active {
    background-color: #006600;
    color: #fff;
}

.pagination button:hover {
    background-color: #ddd;
}

.sortable {
    cursor: pointer;
    position: relative;
    padding-right: 20px; /* espaço para a seta */
}

.sortable:after {
    content: '';
    position: absolute;
    right: 5px;
}

.sortable.asc:after {
    content: '▲';
}

sort>able.desc:after {
    content: '▼';
}

footer {
    background-color: #006600; /* Verde da bandeira do Brasil */
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
